

@model FoodFormModel

@{
    ViewData["Title"] = "Edit Food";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">Edit Food</h2>

        <partial name="_FoodFormPartial" model="@Model" />

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}