

    <div class="col-10 offset-3 mt-3">
        <div class="col-6">
            <input type="text" id="txtDate" name="dDate" class="form-control" placeholder="Pick a Date" autocomplete="off" />
        </div>
        <div class="col-6 mt-3 text-center">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
        <div class="col-6 mt-3 text-center">
            <label id="lblDate">@ViewBag.Message</label>
        </div>
    </div>


